.question {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-l);
    background-color: transparent;
    border-bottom: 2px solid var(--color-lowlight);
}

.question:last-of-type {
    border-bottom-width: 0;
}

.text {
    font-weight: bold;
}