.formElement {
    display: block;
    width: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: var(--space-s) 0;
}

.formElement label {
    font-weight: bold;
    padding-bottom: var(--space-xs);
}