.card {
    background-color: var(--color-background-accent);
    border-radius: var(--border-radius);
    padding: var(--space-s) var(--space-m);
}

.hoverEffect:hover {
    background-color: var(--color-gray);
    cursor: pointer;
}