.avatar {
    width: var(--space-m);
    height: var(--space-m);
    background-color: var(--color-text);
    line-height: var(--space-m);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-background);
    font-size: var(--text-size-s);
    position: relative;
}