.userBadge {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--space-xs);
    border-radius: var(--border-radius);
}

.userBadge:hover {
    background-color: var(--color-gray);
    cursor: pointer;
}

.userBadge.active {
    background-color: var(--color-gray);
    color: var(--color-white);
}

.userBadge.loading .chevron {
    opacity: 0;
}

.userBadge.loading .badge {
    background-color: transparent;
    color: white;
}

.userBadge.loading:hover {
    background-color: transparent;
}

.chevron {
    margin-left: var(--space-xs);
    font-size: var(--text-size-xsmall);
}
