@font-face {
    font-family: "Sofia Sans";
    src: url(../../shared/fonts/SofiaSans-Light.woff2) format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Sofia Sans";
    src: url(../../shared/fonts/SofiaSans-LightItalic.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Sofia Sans";
    src: url(../../shared/fonts/SofiaSans-Bold.woff2) format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Sofia Sans";
    src: url(../../shared/fonts/SofiaSans-BoldItalic.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}