@import url('./fonts.css');

:root {
  --color-black: rgb(45, 40, 62);
  --color-black-accent: rgb(86, 79, 111);
  --color-white: rgb(255, 255, 255);
  --color-white-accent: rgb(165, 180, 202);
  --color-yellow: rgb(0, 255, 71);
  --color-blue: rgb(0, 119, 255);
  --color-red: rgb(238, 89, 73);
  --color-green: rgb(189, 189, 125);

  --color-highlight: rgb(128, 43, 177);
  --color-lowlight: rgb(76, 73, 93);

  --color-background: var(--color-black);
  --color-background-accent: var(--color-black-accent);
  --color-text: var(--color-white);
  --color-text-accent: var(--color-white-accent);
  --color-link: var(--color-blue);

  --text-size-xl: 36px;
  --text-size-l: 26px;
  --text-size-m: 20px;
  --text-size-s: 16px;
  --text-size-xs: 12px;

  --space-unit: 4px;
  --space-xxs: calc(1 * var(--space-unit));
  --space-xs: calc(2 * var(--space-unit));
  --space-s: calc(3 * var(--space-unit));
  --space-m: calc(5 * var(--space-unit));
  --space-l: calc(8 * var(--space-unit));
  --space-xl: calc(13 * var(--space-unit));
  --space-xxl: calc(21 * var(--space-unit));

  --border-radius: 4px;
  --border-width: 2px;

  --shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;

  --font-family: "Sofia Sans";
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: var(--text-size-m);
  font-family: var(--font-family);
  font-weight: 100;
}

a {
  font-weight: bold;
  color: var(--color-link);
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  position: relative;
  margin: 0;
}

h1 {
  font-size: var(--text-size-xl);
}

h2 {
  font-size: var(--text-size-l);
}

p {
  margin-block-start: .5em;
  margin-block-end: .5em;
  line-height: 1.2em;
  color: var(--color-text-accent);
}

* {
  box-sizing: border-box;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--text-size-s);
  background-color: var(--color-background-accent);
  padding: var(--space-xxs);
  border-radius: var(--border-radius);
}

.text-small {
  font-size: var(--text-size-s)
}
