@import url('./fonts.css');

:root {
  --color-black: #432359;
  --color-black-accent: #5E2D73;
  --color-white: #fff;
  --color-white-accent: #ebebeb;
  --color-yellow: #00ff47;
  --color-blue: #0077ff;
  --color-gray: #7c508f;
  --color-red: #ee5949;
  --color-green: #bdbd7d;

  --color-background: var(--color-black);
  --color-background-accent: var(--color-black-accent);
  --color-text: var(--color-white);
  --color-link: var(--color-blue);

  --text-size-xl: 32px;
  --text-size-l: 26px;
  --text-size-m: 20px;
  --text-size-s: 16px;
  --text-size-xs: 12px;

  --space-unit: 4px;
  --space-xxs: calc(1 * var(--space-unit));
  --space-xs: calc(2 * var(--space-unit));
  --space-s: calc(3 * var(--space-unit));
  --space-m: calc(5 * var(--space-unit));
  --space-l: calc(8 * var(--space-unit));
  --space-xl: calc(13 * var(--space-unit));
  --space-xxl: calc(21 * var(--space-unit));

  --border-radius: 4px;
  --border-width: 2px;

  --shadow-preanim: rgba(0, 0, 0, 0.0) 0px 1px 2px;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --font-family: "Sofia Sans";
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: var(--text-size-m);
  font-family: var(--font-family);
  font-weight: 100;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: var(--text-size-xl);
}

h2 {
  font-size: var(--text-size-l);
}

p {
  margin-block-start: .5em;
  margin-block-end: .5em;
  line-height: 1.2em;
}

* {
  box-sizing: border-box;
}

.text-small {
  font-size: var(--text-size-s)
}
