.textInput {
    background-color: var(--color-background-accent);
    padding: var(--space-s) var(--space-s);
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    font-size: var(--text-size-m);
    font-family: var(--font-family);
    color: var(--color-text);
    display: block;
}

.textInput::placeholder {
    color: var(--color-gray);
}

.textInput.block {
    width: 100%;
    display: block;
}

.error {
    border-color: red;
}

.errorMessage {
    color: red;
    font-size: var(--text-size-s);
    padding-top: var(--space-xs);
}