.textInput {
    background-color: var(--color-gray);
    padding: var(--space-s) var(--space-m);
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    font-size: var(--text-size-regular);
    font-family: "Sofia Sans";
    color: var(--color-text);
    display: block;
}

.error {
    border-color: red;
}

.errorMessage {
    color: red;
    font-size: var(--text-size-small);
    padding-top: var(--space-xs);
}