.anchor {
    position: relative;
    z-index: 1;
}

.wrapper {
    background-color: var(--color-black-accent);
    color: var(--color-white);
    width: 250px;
    position: absolute;
    right: 0;
    top: var(--space-s);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.anchor::after {
    content: "";
    display: block;
    width: 0; 
    height: 0;     
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-black-accent);
    margin-left: -10px;
    top: 4px;
    left: 50%;
}

.inner {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.linkWrapper {
    width: 100%;
    font-size: var(--text-size-s);
    padding: var(--space-s) var(--space-s);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.linkWrapper:first-of-type {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.linkWrapper:last-of-type {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom: 0;
}

.link {
    width: 100%;
    color: var(--color-white);
}

.icon {
    font-size: var(--text-size-xs);
}

.linkWrapper:hover {
    background-color: var(--color-blue);
    cursor: pointer;
}

.text {
    background-color: var(--color-highlight);
}