.button {
    background-color: var(--color-background);
    color: var(--color-text);
    border: var(--border-width) solid var(--color-text);
    padding: var(--space-s) var(--space-m);
    font-weight: bold;
    font-size: var(--text-size-m);
    font-family: var(--font-family);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    border-radius: var(--border-radius);
}

/* types */

.button.primary {
    background-color: var(--color-text);
    color: var(--color-background);
}

.button.caution {
    border-color: var(--color-red);
    color: var(--color-white);
}

.button.caution.primary {
    background-color: var(--color-red);
    color: var(--color-white);
}

.button.do {
    border-color: var(--color-green);
    color: var(--color-green);
}

.button.do.button.primary {
    background-color: var(--color-green);
    color: var(--color-white);
}

.button:disabled {
    opacity: 0.3 !important;
    background-color: var(--color-gray) !important;
    border-color: var(--color-gray) !important;
}

/* sizes */

.button.small {
    padding: var(--space-xs) var(--space-s);
    font-size: var(--text-size-s);
}

.button.small .icon {
    font-size: var(--text-size-s);
    margin-right: var(--space-s);
}

.button.xsmall {
    padding: var(--space-xxs) var(--space-xs);
    font-size: var(--text-size-xs);
}

.button.xsmall .icon {
    font-size: var(--text-size-xs);
    margin-right: var(--space-xs);
}

.iconButton .icon {
    margin-right: 0 !important;
}

.button:disabled {
    cursor: default;
    opacity: .7;
}

.button > svg {
    margin-right: var(--space-s);
    font-size: var(--text-size-m);
}

.button.block {
    display: block;
    width: 100%;
}