.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-xl) 0 var(--space-xl);
}

.logo {
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
}

.menuItem {
    position: relative;
    font-size: var(--text-size-s);
    padding: var(--space-xs) var(--space-s);
    cursor: pointer;
    margin-left: var(--space-xxs);
    border-radius: var(--border-radius);
    font-weight: normal;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
}

.menuItem .icon {
    font-size: var(--text-size-xs);
    margin-right: var(--space-xs);
}

.menuItem.hasNotifications {
    background-color: var(--color-background-accent);
}

.menuItem:hover, .menuItem.hasNotifications:hover {
    background-color: var(--color-gray);
    opacity: 1;
}

.menuItem.active, .menuItem.active.hasNotifications {
    color: var(--color-background);
    background-color: var(--color-text);
}

.menuItem.active:hover {
    color: var(--color-background);
    background-color: var(--color-text);
}

.badge {
    --size-badge: var(--space-s);
    width: var(--size-badge);
    height: var(--size-badge);
    background-color: var(--color-blue);
    border-radius: var(--space-m);
    font-weight: bold;
    line-height: var(--size-badge);
    text-align: center;
    font-family: var(--font-family);
    top: calc(var(--space-xxs) * -1);
    right: calc(var(--space-xxs) * -1);
    position: absolute;
}

.divider {
    width: 1px;
    height: var(--space-l);
    margin: 0px var(--space-s);
    background-color: var(--color-gray);
}

.orgLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orgLink > div {
    margin-right: var(--space-xs);
}