.formError {
    padding: var(--space-s);
    font-size: var(--text-size-s);
    background-color: red;
    color: var(--color-white);
    width: 100%;
    margin-top: var(--space-xxs);
    border-radius: var(--border-radius);
}